env/
.vscode/
.idea/
venv/
project/code/__pycache__
project/code/characters/__pycache__
project/code/config/__pycache__
project/code/map/__pycache__
project/code/objects/__pycache__
project/resources/Sprites.tsx
project/resources/tiled_maps.tmx
project/resources/Sprites.ase
project/resources/Sprites.png
project/resources/goblin.png
project/resources/batch_one_0.png